<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aladakatti.hms_account">
    <!-- check network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- check wifi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- File read permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HMS_Account">
        <activity android:name=".NewsDetailActivity"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileActivity"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".SignInActivity"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".NewsActivity"/>
        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".DemoHmsMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />

        <meta-data
            android:name="install_channel"
            android:value="AppGallery"/>
    </application>

</manifest>